<div class="section" *ngIf="taskLists.length">
  <div *ngIf="title" class="section__title-wrapper">
    <h3 class="section__title" nz-typography>{{ title }}</h3>
    <span
      *ngIf="icon && showIcon"
      class="icon_md"
      nz-icon
      [nzTheme]="iconTheme"
      [nzType]="icon"
    ></span>
  </div>
  <div class="section__task-lists">
    <div class="section__card-wrapper" *ngFor="let taskList of taskLists">
      <app-task-list-card [taskList]="taskList"></app-task-list-card>
    </div>
  </div>
</div>
