<div *ngIf="{ updatingTask: (updatingTask$ | async) } as data">
  <div class="task-list">
    <div
      *ngFor="let task of nzModalData.taskList?.tasks; let i = index"
      class="task"
    >
      <label
        [formControl]="taskChecksForm.at(i)"
        class="task__check"
        nz-checkbox
      ></label>
      <span
        *ngIf="data.updatingTask?.id !== task.id"
        class="task__description"
        (click)="updatingTask$.next(task)"
        >{{ task.description }}</span
      >
      <input
        #taskDescriptionInput
        *ngIf="data.updatingTask?.id === task.id"
        class="task__input"
        nz-input
        [ngModel]="data.updatingTask?.description"
        (ngModelChange)="handleUpdateTaskDescription($event)"
      />
      <span
        class="task__delete-icon icon"
        nz-icon
        nzType="delete"
        nzTheme="outline"
      ></span>
    </div>
  </div>
</div>
<div *nzModalFooter>
  <p>Modal footer</p>
  <button (click)="showFormValue()">Show form value</button>
</div>
