<div
  *ngIf="{
    isInitialLoading: (isInitialLoading$ | async),
    isStoringTaskList: (isStoringTaskList$ | async),
    isLoadingTaskLists: (isLoadingTaskLists$ | async)
  } as data"
  class="actions"
>
  <div *ngIf="!data.isStoringTaskList" class="actions__search">
    <app-search
      class="actions__search-input"
      [disabled]="!!data.isInitialLoading"
    ></app-search>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      [disabled]="!!data.isLoadingTaskLists"
      (click)="setIsStoringTaskList(!data.isStoringTaskList)"
    >
      <span nz-icon nzType="plus"></span>
    </button>
  </div>
  <div *ngIf="data.isStoringTaskList" class="actions__store-card">
    <app-task-list-store></app-task-list-store>
  </div>
</div>
