<div
  *ngIf="{
    taskList: (taskList$ | async),
    showOptions: (showOptions$ | async)
  } as data"
  class="header"
  [ngClass]="{ 'header--fixed': data.showOptions }"
>
  <h5 class="header__title" nz-typography>
    {{ data.taskList?.title ?? 'Adicione um título' }}
  </h5>
  <div class="header__options">
    <app-color-popover
      class="header__color-popover"
      [selectedColor]="data.taskList?.bgColor"
      (colorSelect)="colorSelect$.next($event)"
      (visibilityChange)="handleVisibilityChange($event)"
    ></app-color-popover>
    <span
      class="header__pin-icon icon"
      nz-icon
      nzType="pushpin"
      [nzTheme]="data.showOptions ? 'fill' : 'outline'"
      (click)="pinTask$.next()"
    ></span>
    <nz-badge
      nzStandalone
      [nzCount]="data.taskList?.tasks?.length"
      [nzOverflowCount]="5"
    ></nz-badge>
  </div>
</div>
