<span
  class="popover popover--border-red icon"
  nz-icon
  nzType="bg-colors"
  nzTheme="outline"
  nz-popover
  nzPopoverTitle="Escolha uma cor"
  nzPopoverPlacement="bottom"
  nzPopoverTrigger="click"
  [nzPopoverContent]="popoverContent"
  (nzPopoverVisibleChange)="isVisible$.next($event)"
  (click)="handleClick($event)"
></span>

<ng-template #popoverContent>
  <div class="popover__content">
    <nz-color-block
      *ngFor="let color of colors"
      class="popover__color-block"
      [ngClass]="
        selectedColor === color
          ? 'popover__color-block--' + (selectedColor | getBorderColorClass)
          : ''
      "
      [nzColor]="color"
      (nzOnClick)="handleColorSelect(color)"
    ></nz-color-block>
    <span
      class="popover__clear-icon icon"
      nz-icon
      nzType="stop"
      nzTheme="outline"
      (click)="handleColorSelect()"
    ></span>
  </div>
</ng-template>
