<div *ngIf="{ taskState: (taskState$ | async) } as data" class="task-item">
  <div class="task-item__form">
    <label
      *ngIf="!!task"
      nz-checkbox
      [ngModel]="isChecked$ | async"
      (mousedown)="isChecked$.next(!isChecked$.getValue())"
    ></label>
    <input
      #descriptionInput
      placeholder="Adicione uma descrição"
      nz-input
      [ngModel]="description$ | async"
      (ngModelChange)="description$.next($event)"
      [nzBorderless]="!isSelected"
      [readOnly]="!isSelected"
      (mousedown)="handleSelect.emit()"
      (blur)="unselect$.next()"
    />
    <app-remove-icon
      *ngIf="!!task"
      class="task-item__remove-icon"
      [ngClass]="{
        'task-item__remove-icon--selected': isSelected
      }"
      (mousedown)="removeTask$.next(task.id)"
    ></app-remove-icon>
  </div>
  <div *ngIf="isSelected" class="task-item__options">
    <button
      nz-button
      nzType="primary"
      [disabled]="!(description$ | async)?.length"
      (mousedown)="handleSave()"
    >
      Salvar
    </button>

    <button nz-button nzType="default">Cancelar</button>
  </div>
</div>
