@import '~ng-zorro-antd/style/themes/variable.less';

.task-list-card {
  &__header {
    display: flex;
    align-items: center;
    margin-left: @margin-sm;
    column-gap: @margin-sm;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: @margin-sm;
  }
  &__footer {
    display: flex;
    justify-content: end;
    margin-top: @margin-lg;
  }
  &__color-block {
    border-radius: @border-radius-sm;
  }
  &--default:hover,
  &--fixed {
    cursor: pointer;
    .show-footer-and-icons();
  }
  &--loading {
    opacity: 0.6;
  }
  &--loading:hover {
    cursor: auto;
  }
  .hide-footer-and-icons();
}

.task {
  display: flex;
  justify-content: space-between;
  &__description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }
  &__tag {
    margin-left: @margin-sm;
    margin-right: 0;
  }
}

.hide-footer-and-icons() {
  &__color-popover {
    display: none;
  }
  &__pin-icon {
    display: none;
  }
  &__footer {
    visibility: hidden;
  }
}

.show-footer-and-icons() {
  .task-list-card {
    &__color-popover {
      display: block;
    }
    &__pin-icon {
      display: inline-block;
    }
    &__footer {
      visibility: visible;
    }
  }
}
