<nz-card
  *ngIf="{
    isLoading: (isLoading$ | async),
    isCardInDefaultMode: (isCardInDefaultMode$ | async),
    isCardInFixedMode: (isCardInFixedMode$ | async)
  } as data"
  [class]="'task-list-card ' + (taskList.bgColor | getBgColorClass)"
  [ngClass]="{
    'task-list-card--default': data.isCardInDefaultMode,
    'task-list-card--fixed': data.isCardInFixedMode,
    'task-list-card--loading': data.isLoading
  }"
  [nzTitle]="taskList.title"
  [nzExtra]="header"
>
  <div class="task-list-card__content">
    <div *ngFor="let task of taskList.tasks?.slice(0, 5)" class="task">
      <p class="task__description">{{ task.description }}</p>
      <nz-tag class="task__tag" nzColor="default">A fazer</nz-tag>
    </div>
  </div>
  <div class="task-list-card__footer">
    <span
      class="task-list-card__delete-icon icon"
      nz-icon
      nzType="delete"
      nzTheme="outline"
    ></span>
  </div>
</nz-card>
<ng-template #header>
  <div class="task-list-card__header">
    <app-color-popover
      class="task-list-card__color-popover"
      [selectedColor]="taskList.bgColor"
      (colorSelect)="handleColorSelect($event)"
      (visibilityChange)="isFixed$.next($event)"
    ></app-color-popover>
    <span
      (click)="pinTaskList()"
      class="task-list-card__pin-icon icon"
      nz-icon
      nzType="pushpin"
      [nzTheme]="taskList.isFixed ? 'fill' : 'outline'"
    ></span>
    <nz-badge
      class="task-list-card__badge"
      [nzCount]="taskList.tasks.length"
      [nzOverflowCount]="5"
      nzStandalone
    ></nz-badge>
  </div>
</ng-template>
