<div
  *ngIf="{
    taskList: (taskList$ | async)
  } as data"
  class="task-list-card-header task-list-header"
>
  <h5 class="task-list-card-header__title" nz-typography>
    {{ data.taskList?.title }}
  </h5>

  <div class="task-list-header__options">
    <app-task-list-options *ngIf="showOptions$ | async"></app-task-list-options>
    <nz-badge
      *ngIf="data.taskList?.tasks?.length"
      nzStandalone
      [nzCount]="data.taskList?.tasks?.length"
      [nzOverflowCount]="5"
    ></nz-badge>
  </div>
</div>
